check_every: 300

notifiers:
  - type: "console"
    colorize: true
  #- type: "telegram"
  #  name: MyBot
  #  token: BOT_TOKEN
  #  chat_id: CHAT_ID (mostly bot id)
  #  whitelist: # optional
  #    - my_username
  #    - friend_of_mine
  #  blacklist: # optional
  #    - bad_user
  #    - another_bad_user
  #  webhook:
  #    url: "https://my_host/bigbrother"
  #    port: 3333
  #    # ssl_certificate_path: "path/to/cert.pem"
  #    # ssl_key_path: "path/to/private_key.key"

checks:
  - type: "http"
    url: https://www.facebook.com
    match_body: Facebook

    # method: "GET" # "POST" | "GET" | ...

    # body: nil
    # OR
    # body: '{"some":"payload"}'
    # body:
    #   key: "value"
    #   key2: "value2"

    # headers:
    #   Content-Type: "application/x-www-form-urlencoded"

    # dns_timeout: 10
    # connect_timeout: 120
    # read_timeout: 120

  - type: "host_ip"
    host: www.google.com
    port: 80
  - type: "http"
    url: https://google.com
    status_code: 302
