check_every: 300

notifiers:
  - type: "console"
    colorize: true
  #- type: "telegram"
  #  name: MyBot
  #  token: BOT_TOKEN
  #  chat_id: CHAT_ID (mostly bot id)
  #  whitelist: # optional
  #    - my_username
  #    - friend_of_mine
  #  blacklist: # optional
  #    - bad_user
  #    - another_bad_user

checks:
  - type: "http"
    url: https://www.facebook.com
    match_body: Facebook
  - type: "host_ip"
    host: www.google.com
    port: 80
  - type: "http"
    url: https://google.com
    status_code: 302
